[2016-03-25 13:00] runcom opened #2 "Needs a spec file to allow this to be installed"
@shishir-a412ed you can have a look at https://github.com/fedora-cloud/docker-rpm/blob/master/docker.spec#L50 and propose a PR there

copied from https://github.com/shishir-a412ed/docker-lvm-plugin/issues/8

[2016-03-25 13:00] runcom opened #3 "Why isn't docker labeling the volumes correctly when using SELinux"
By default the volume should be labeled

svirt_sandbox_file_t:s0

If the user specifies

docker run -v foobar:/mnt:Z

Then docker should relabel the content specific to the container.
##

copied from https://github.com/shishir-a412ed/docker-lvm-plugin/issues/7

[2016-03-25 13:04] rhatdan commented on #3
The problem here is we have no good way of dealing with this.  I brought this up with docker, but they never responded.  The problem is the devices is created at the mount time not at the create time.  In the case of local volumes they are labeling at create time.  Since the mount can happen multiple times, we really only want to do this once.  We could add an SELinux hack to check if the content

[2016-04-16 07:31] lsm5 opened #4 "`vendor/*` should instead be `vendor/src/*`"
move everything inside `vendor` into `vendor/src`, otherwise rpmbuild and GOPATH seem to have trouble.

[2016-04-18 13:44] rhatdan commented on #4
@shishir-a412ed PTAL

[2016-04-18 13:53] shishir-a412ed commented on #4
@lsm5 @rhatdan I think this is auto generated by godeps.
@mrunalp can we move this under `vendor/src/*` manually ?

[2016-04-28 16:53] mrunalp commented on #4
I just looked into this. Sorry about confusion but this is actually correct per the new go vendoring support. @lsm5 Are you using the makefile to build or building it yourself? You may need to set GO15VENDOREXPERIMENT=1 in your build environment.

[2016-05-02 19:00] lsm5 opened #5 "install path for docker-lvm-plugin config file"
I think `/etc/sysconfig/docker-lvm-plugin` would be a good path for this as that's where other sysconfig files are located. Or should plugin configs go into `/etc/docker` ?

@shishir-a412ed @rhatdan @runcom wdyt?

[2016-05-02 19:07] runcom commented on #5
see here https://github.com/shishir-a412ed/docker-lvm-plugin/issues/4

[2016-05-02 19:08] runcom commented on #5
we basically didn't want `/etc/sysconfig` :)

[2016-05-02 19:10] lsm5 commented on #5
hmm ok

[2016-05-02 19:10] #5 closed

[2016-05-02 20:44] rhatdan commented on #5
lokesh /etc/sysconfig is for altering the way that a service script runs,   /etc/FOOBAR.conf is for configuration of a service.  Docker is screwy since it does not have a configuration file, so we are abusing the /etc/sysconfig/docker* files to allow us to setup some kind of configuration data.  But we don't want to follow this for other services we support.

The systemd guys believe that /etc/sys

[2016-05-03 14:07] runcom opened #7 "volume group can change"
Right now we resolve the VOLUME_GROUP in each call (create, remove, etc, etc). This isn't quite right to me. Because we can create a logical volume in a volume group - then change the volume group in the config file - and fail to remove for instance a logical volume (case the vg name changed at runtime!!!!).
I think it would be great if the VOLUME_GROUP is first resolved at plugin init time and sa

[2016-05-03 15:04] #2 closed

[2016-05-03 15:11] lsm5 commented on #4
@mrunalp @shishir-a412ed thanks, I'm building it myself, I'll set the env var next build.

[2016-05-03 15:11] #4 closed

[2016-05-12 16:09] shishir-a412ed commented on #7
Let me understand what you are trying to say, feel free to correct me :)

What is happening as of today:

I have a volume group (volume_group_one). I update the name of the volume group in the config file `/etc/docker/docker-lvm-plugin` and I create a logical volume using the plugin.
[code]
A user goes and does `vgrename volume_group_one volume_group_two`. Now when I run `lvs` I would see `foobar`

[2016-07-04 08:39] xianhuawei opened #8 "Error response from daemon: create foobar: create foobar: Error looking up volume plugin lvm: Plugin.Activate: 400 Bad Request: malformed Host header"
Error response from daemon: create foobar: create foobar: Error looking up volume plugin lvm: Plugin.Activate: 400 Bad Request: malformed Host header

[2016-07-04 21:15] shishir-a412ed commented on #8
@xianhuawei Can you give more details ?

1) Exact steps you did to produce this error.
2) Output of `docker version`.
3) Output of `docker info`.

[2016-07-05 02:17] xianhuawei commented on #8
go get github.com/projectatomic/docker-lvm-plugin
cd docker-lvm-plugin
make
sudo make install

docker version
Client:
 Version:         1.10.3
 API version:     1.22
 Package version: docker-common-1.10.3-44.el7.centos.x86_64
 Go version:      go1.4.2
 Git commit:      9419b24-unsupported
 Built:           Fri Jun 24 12:09:49 2016
 OS/Arch:         linux/amd64

Server:
 Version:         1.10.3
 AP

[2016-07-05 02:18] xianhuawei commented on #8
ps aux|grep docker

root      4555  0.0  0.0 113844  4120 ?        Ssl  Jul04   0:00 /usr/libexec/docker/docker-lvm-plugin
root      4882  0.0  0.0 115244  1424 ?        Ss   Jul04   0:00 /bin/sh -c /usr/bin/docker-current daemon            --exec-opt native.cgroupdriver=systemd            $OPTIONS            $DOCKER_STORAGE_OPTIONS            $DOCKER_NETWORK_OPTIONS            $ADD_REGISTRY

[2016-07-05 02:18] xianhuawei commented on #8
cat /etc/centos-release
CentOS Linux release 7.1.1503 (Core)

yum install -y docker

[2016-07-05 04:48] shishir-a412ed commented on #8
@xianhuawei and I am assuming you updated your volume group name in `/etc/docker/docker-lvm-plugin` ? before creating the logical volume using this plugin.

[2016-07-05 06:21] xianhuawei commented on #8
yes

[root@localhost ~]# vgdisplay |grep group_one
  VG Name               volume_group_one
[root@localhost ~]# cat /etc/docker/docker-lvm-plugin
# Update volume group (vg) name in this file. A volume group name is needed
# to create logical volumes using docker lvm plugin. You can choose an existing
# volume group name by listing volume groups on your system using `vgs` command
# OR create a new

[2016-07-11 19:23] cschauer commented on #8
I ran into this as well. It's an incompatibility with golang versions. Docker on CentOS/RHEL is compiled with go1.4.2. There were some changes to the http library in go1.6 that requires the Host header in requests. You need to build the plugin with go1.5 or lower.

[2016-07-12 00:49] xianhuawei commented on #8
@cschauer good!
@shishir-a412ed can fix it?

[2016-07-12 01:19] cschauer commented on #8
@xianhuawei Try installing from the package:  `yum install docker-lvm-plugin`

[2016-07-12 14:17] shishir-a412ed commented on #8
@cschauer @xianhuawei
I am able to run `docker-lvm-plugin` successfully i.e create a volume using the plugin, bind mount it inside the container etc. I don't face this error.

Now I work on a fedora 23 machine, so I had to build it from the source.
my go version is:
[code]

I think I faced this error in the past, but this was related to systemd unit files. My systemd unit files were old. once I up

[2016-07-14 15:00] shishir-a412ed commented on #8
@xianhuawei were you able to resolve this error ?

Shishir

[2016-08-03 08:35] monkeydri opened #13 "build error : lvmDriver does not implement volume.Driver (missing Capabilities method)"
After cloning repo and trying to `make` I have the following error :

[code]

go-plugins-helpers/volume : latest version (commit f3a3876)
go version : 1.6
Docker version 1.10.3, build 20f81dd
os : ubuntu 16.04.1

This error looks similar to the error described here : https://github.com/calavera/docker-volume-glusterfs/pull/33 for project docker-volume-glusterfs :

[code]

which was fixed by commit

[2016-08-03 10:41] monkeydri commented on #13
`Capabilities` where added by commit https://github.com/docker/go-plugins-helpers/pull/51/commits/7f7e1f8cba8ccb022b28b400cbefa60452eb4728

[2016-08-03 10:46] monkeydri opened #14 "build error : wrong type for Mount method"
Following error on build :

[code]

go-plugins-helpers/volume : latest version (commit f3a3876)
go version : 1.6
Docker version 1.10.3, build 20f81dd
os : ubuntu 16.04.1

Error is due to an update of go-plugins-helpers/volume : commit https://github.com/docker/go-plugins-helpers/commit/461a12724a063018b1c2c3ef8ca2bd87ae6d84fb has changed the structs for Mount and Unmount, therefore the functions h

[2016-08-03 18:33] monkeydri opened #17 "extension of logical volume does not increase volume size"
Hello,  I have created a docker named volume using LVM thanks to your driver :

`docker volume create -d lvm --name my-named-lvm-volume --opt size=500G`

This works great, I can see the logical volume is created using `sudo lvdisplay` :

[code]

And as soon as I `docker rm my-named-lvm-volume` the logical volume disappear, quite easy ;-)

However I then tried to extend the logical volume, for exam

[2016-08-03 18:50] harshal-shah opened #18 "installation fails with error : cannot use d (type glusterfsDriver) as type volume.Driver"
While trying to install the plugin on ubuntu 14.04 I'm getting following error:

`
go/src/github.com/calavera/docker-volume-glusterfs/main.go:38: **cannot use d (type glusterfsDriver) as type volume.Driver in argument to volume.NewHandler:**
        glusterfsDriver does not implement volume.Driver (wrong type for Mount method)
                have Mount(volume.Request) volume.Response

[2016-08-03 19:49] shishir-a412ed commented on #18
@harshal-shah
PR #16 should fix this problem.

Shishir

[2016-08-04 15:02] shishir-a412ed commented on #18
This is fixed now. Closing this issue.

[2016-08-04 15:02] #18 closed

[2016-08-04 15:03] shishir-a412ed commented on #14
Fixed with PR #16

[2016-08-04 15:03] #14 closed

[2016-08-04 15:03] shishir-a412ed commented on #13
Fixed with #15

[2016-08-04 15:03] #13 closed

[2016-08-04 15:05] shishir-a412ed commented on #8
Closing this for lack of response from the user.

Shishir

[2016-08-04 15:05] #8 closed

[2016-08-06 17:14] monkeydri commented on #17
ok I actually forgot the basics : partition (in this case, the logical volume) ≠ filesystem.

What happens with `lvextend` is that the logical volume is expanded, however the filesystem is not. I did not think about the filesystem because everything is handled by `docker-lvm-plugin` and we have never to deal with it.

To find out what is the filesystem used by `docker-lvm-plugin` I used `mount` :

[2016-08-06 17:14] #17 closed

[2016-08-06 18:31] shishir-a412ed commented on #17
@monkeydri
Yes this is correct. You need to extend both the logical volume and the XFS filesystem. Since `xfs_growfs` only allows online resizing, the filesystem must be mounted before it can grown.

Shishir

[2016-09-27 23:21] thbeh opened #23 "docker-engine 1.12"
Can docker-lvm-plugin runs on docker-engine 1.12?

[2016-09-28 11:40] rhatdan commented on #23
Should be able to.

[2016-09-28 16:04] shishir-a412ed commented on #23
@thbeh yeah it even works with docker 1.13 :)

[2016-09-28 17:30] #23 closed

[2016-09-30 16:13] echa opened #24 "Auto-mount not working after server crash"
Hey guys, I just experienced a server crash and after reboot my existing lvm volumes never got auto-mounted again. Looking at the code this is to be expected.

Reason is that you trust information in `/var/lib/docker-lvm-plugin/lvmCountConfig.json` even after an unclean shutdown/crash. Counts were still set to 1 in my case since this was the last alive state (containers running, docker running, vo

[2016-11-04 15:56] kalahari opened #26 "BINDIR is not created at install"
During `make install` BINDIR (/usr/libexec/docker) is not created, it did not already exist on CentOS 7 with Docker 1.12.3. This left me with the binary at the path `/usr/libexec/docker` instead of `/usr/libexec/docker/docker-lvm-plugin`.

[2016-11-10 16:01] shishir-a412ed commented on #26
Fixed with #27

[2016-11-10 16:01] #26 closed

[2016-11-11 08:57] megian opened #30 "docker-lvm-plugin.service failed -> no directory /run/docker/plugins/"
The service does fail, because the running directory /run/docker/plugins/ does not exist.

After manually creating the path and restart the docker-lvm-plugin service. It does work.

mkdir -p /run/docker/plugins/
systemctl restart docker-lvm-plugin

centos-atomic-host:centos-atomic-host/7/x86_64/standard
       Version: 7.20161104 (2016-11-04 22:53:08)
        Commit: daf53c718bd1cd9b84b1b5d21843cd

[2016-11-11 14:48] shishir-a412ed commented on #30
@megian
Can you paste the output of `docker info` and `docker version` ?

Shishir

[2016-11-16 13:26] megian commented on #30
[centos@host ~]$ sudo docker version
Client:
 Version:         1.10.3
 API version:     1.22
 Package version: docker-common-1.10.3-46.el7.centos.14.x86_64
 Go version:      go1.6.3
 Git commit:      cb079f6-unsupported
 Built:           Fri Sep 16 13:24:25 2016
 OS/Arch:         linux/amd64

Server:
 Version:         1.10.3
 API version:     1.22
 Package version: docker-common-1.10.3-46.el7.cent

[2016-11-16 19:45] shishir-a412ed commented on #30
@megian
`docker-lvm-plugin` relies on `https://github.com/docker/go-plugins-helpers`
which creates the directory `/run/docker/plugins` if it does not exist.
https://github.com/docker/go-plugins-helpers/blob/master/sdk/unix_listener.go#L39

I just tried this on a centos VM and I am able to successfully start `docker-lvm-plugin`.
[code]
I am guessing you did a `yum install docker-lvm-plugin` and tha

[2016-11-17 09:08] megian commented on #30
No, I don't have installed docker-lvm-plugin manually. It is part of the atomic host image (newest). But it might be, that the image does contain an older version.

bash-4.2# atomic host status
State: idle
Deployments:
â centos-atomic-host:centos-atomic-host/7/x86_64/standard
       Version: 7.20161104 (2016-11-04 22:53:08)
        Commit: daf53c718bd1cd9b84b1b5d21843cd9b981d3634c2444c2bcb09cccee7

[2016-11-17 16:25] shishir-a412ed commented on #30
@megian Will let you know once the rpm package (docker-lvm-plugin) is updated. Then you can try again and let me know if you are still facing the issue.

Shishir

[2016-12-05 22:29] jmccormick2001 commented on #3
any update on this one?  I'm having to do workarounds to get volumes to work when in enforcing mode on fedora/centos.

[2016-12-06 12:40] rhatdan commented on #3
There is a fix in docker-1.13 for this issue.  The fix should go into the next release of docker-1.12 in Fedora 25/24.

[2016-12-16 08:43] monkeydri commented on #24
Hi, I have the same problem but it happens even after a clean reboot. I then need to manually mount the LV to the path specified in the docker volume. Ex for a docker volume named my-lv :

`docker volume inspect my-lv` :

[code]

`sudo lvdisplay` :

[code]

After reboot the docker volume is not "linked" to the LV anymore but it becomes a host directory mounted as a docker volume : data is stored o

[2016-12-16 18:18] shishir-a412ed commented on #24
@echa @monkeydri
There are multiple ways to solve this. Right now when the system reboots (clean restart or server crash) the logical volumes are not auto mounted after the restart. Based on the code this is expected.
We can do the following to handle this:

1) If the user has executed `systemctl enable docker-lvm-plugin`, the plugin would restart automatically on reboot and load the state of the

[2016-12-21 16:56] shishir-a412ed commented on #24
@echa @monkeydri

I had a discussion with my technical lead, and we think option {1} would be best to solve this. We will let the daemon {docker-lvm-plugin} handle the state of the mounts on reboot.

I will create a PR to add this functionality.

/cc @rhatdan

Shishir

[2017-01-22 20:23] megian commented on #30
Same issue after the upgrade to atomic host 7.20170117 (2017-01-17 17:45:04).

bash-4.2# atomic host status
State: idle
Deployments:
â centos-atomic-host:centos-atomic-host/7/x86_64/standard
       Version: 7.20170117 (2017-01-17 17:45:04)
        Commit: 5d8b88fbdde5e1df9f50a837f881da9d6031ba5a3af5f1681b9d38793a7f503f
        OSName: centos-atomic-host
  GPGSignature: 1 signature

[2017-01-30 16:54] che opened #36 "Build is failed"
Hi ,

 # make
go-md2man -in man/docker-lvm-plugin.8.md -out docker-lvm-plugin.8
/usr/bin/go build -o docker-lvm-plugin .
 # _/home/dev/docker-lvm-plugin
**./main.go:66: cannot use lvmPluginSocketPath (type string) as type int in argument to h.Handler.ServeUnix**
Makefile:19: recipe for target 'lvm-plugin-build' failed
make: *** [lvm-plugin-build] Error 2

 # go env
GOARCH="amd64"
GOBIN=""
GOEXE=""

[2017-02-01 16:28] shishir-a412ed commented on #36
Works for me on Ubuntu 16.04.

[code]

[code]

Are you using the latest commit from the master branch ?

Shishir

[2017-02-01 17:22] lsm5 commented on #30
@megian, could you also please post what `rpm -q docker` says

[2017-02-01 23:43] lsm5 commented on #30
ahh I see that it's 1.10.3-59.el7.centos.x86_64. I'm not sure if CentOS Atomic has the latest update to 1.12.5 which was recently shipped in RHEL. @jperrin any idea?

[2017-03-10 13:33] megian commented on #30
The issue has been resolved in the Atomic Host version 7.20170209 (2017-02-10 00:54:47).

â centos-atomic-host:centos-atomic-host/7/x86_64/standard
       Version: 7.20170209 (2017-02-10 00:54:47)
        Commit: d433342b09673c9c4d75ff6eef50a447e73a7541491e5197e1dde14147b164b8
        OSName: centos-atomic-host
  GPGSignature: 1 signature
                Signature made Fri 10 Feb 2017 01:06:18 AM

[2017-03-10 13:33] #30 closed

[2017-05-02 03:23] batmany13 commented on #36
@shishir-a412ed I believe this broke due to this [change](https://github.com/docker/go-plugins-helpers/commit/0af5adef105c32d8ad1a58269f26a783a96d522f) in [PR 67](https://github.com/docker/go-plugins-helpers/pull/67).  "ServeUnix" changed their function signature so that the 2nd parameter is no longer a string, but an int.  A forked repo fixed this by doing this [change](https://github.com/gregopl

[2017-05-07 15:12] neurotensin opened #37 "needs xfsprogs dependency"
This is simple, but I am not sure how to fix this in a golang project.

In driver.go there is
 cmd = exec.Command("mkfs.xfs", device)
Although it sends information of failure to the log
l.logger.Err(fmt.Sprintf("Create: mkfs.xfs error: %s output %s", err, string(out)))
It only puts this on the console
 return resp(fmt.Errorf("Error partitioning volume"))

My system is debian jessie, so might be wo

[2017-07-07 15:57] PREM1980 opened #38 "Installation issues"
Im trying to docker LVM plugin but facing some issues with GO.

[code]
Here is my GO version.

[code]

[2017-07-07 19:56] shishir-a412ed commented on #38
@PREM1980 I think your `go` in not installed in `/usr/bin/go`. Can you provide output of `echo $PATH` ?

[2017-07-10 00:08] PREM1980 commented on #38
@shishir-a412ed : Yes, it was a GO issue and got it fixed.

[2017-07-10 00:13] PREM1980 opened #39 "Ubuntu 14.4 - Failed to issue method call."
Im trying to install in ubuntu 14.4 but get this error -

**prem@prem-ubuntu:~/ba/docker-lvm-plugin$ sudo systemctl start docker-lvm-plugin
Failed to issue method call: Unit docker-lvm-plugin.service failed to load: No such file or directory. See system logs and 'systemctl status docker-lvm-plugin.service' for details.

Here are more details about the environment.

**prem@prem-ubuntu:~/ba/docker-l

[2017-07-10 05:24] #38 closed

[2017-11-28 14:55] massaad opened #40 "Can be used with Docker CE for Windows?"
From reading the documentation, it is not clear to me if you can use this plugin with Docker CE for Windows. If it can, would you please include some steps on how to use it in the README file, or explicitly state that it cannot be used with that version of Docker. Thanks.

[2018-01-03 04:03] BioSLuDge opened #41 "Build fails after go-plugins-helpers/volume was refactored"
Looks like 5 or 6 months ago go-plugins-helpers/volume was refactored and since then this project won't build

make
go-md2man -in man/docker-lvm-plugin.8.md -out docker-lvm-plugin.8
/usr/bin/go build -o docker-lvm-plugin .
_/home/andrew/docker-lvm-plugin
./driver.go:45: undefined: volume.Response
./driver.go:45: undefined: volume.Request
./driver.go:188: undefined: volume.Response
./driver.go:188:

[2018-02-28 09:14] maxhar commented on #41
facing the same problem

[2018-03-04 21:12] erikbgithub opened #42 "RHEL7 `docker ls` does not autostart lvm plugin module"
$ docker volume ls
    DRIVER      VOLUME NAME
    [...]
    $ systemctl status docker-lvm-plugin
    [...]
    Loaded: loaded [...]
    Active: inactive (dead)

installed on RHEL 7.4 via `yum install`. Version `docker-lvm-plugin.x86_64 2:1.12.6-71.git3e8e77d.el7`.

[2018-04-03 10:37] 2Fast2BCn commented on #41
Same problem here? Any temporary workaround?

[2018-04-03 17:42] rhatdan commented on #41
Could someone open a PR to fix this?
@shishir-a412ed Are you still interested in maintaining this?

[2018-04-04 15:48] shishir-a412ed commented on #41
@rhatdan Yes, Let me take a look.

[2018-04-08 17:07] shishir-a412ed commented on #41
@BioSLuDge @maxhar @2Fast2BCn I tried this on my Fedora VM, and I am able to `make` and build `docker-lvm-plugin` from source. I think something is messing up in your $GOPATH.

[code]

We use Godeps, and that's the whole point of using Godeps i.e. if upstream changes it's code it won't break our plugin since we use a specific version of `go-plugins-helpers/volume`
https://github.com/projectatomic/

[2018-04-08 17:09] shishir-a412ed commented on #40
@massaad Currently we don't support this plugin for Windows.
Let me open a PR to update the README.md

[2018-04-08 17:12] shishir-a412ed commented on #36
@batmany13 Please see this:
https://github.com/projectatomic/docker-lvm-plugin/issues/41#issuecomment-379565667

[2018-04-08 17:53] shishir-a412ed commented on #39
@PREM1980 AFAIK, `Ubuntu 14.04.5 LTS` is a `upstart` (init) based system.
Do you have `systemd` on this system ?

Can you try this on a `Ubuntu 16.04` and see if it works ?

[2018-04-11 18:11] tanvir-ahmed-m4 opened #46 "Docker volume inspect showing incorrect size after increasing volume size"
Hello,

I have created a thin volume of 150G. Then extended the thin volume by 10G and the file system (as per #17). However, ``docker volume inspect`` still shows 150G. How can it be fixed?

Thanks.

**Before**
[code]
**After**
[code]

[code]

[2018-04-15 19:38] shishir-a412ed commented on #46
@tanvir-ahmed-m4

Can you provide me:

1) `docker volume create` command which you used to create the thin volume ?
2) I created a thin volume `thin_vol` and when I do `docker volume inspect thin_vol` I see this:

[code]

I don't see `options` listed in my output, however I see `options {size, thinpool}` listed in your output.
How did you get `docker-lvm-plugin` ? Did you build it from master bran

[2018-04-16 08:13] maartenl945 commented on #24
We are experiencing the same issue. After server restart, the docker-lvm-plugin volumes do not get mounted correctly and therefore do not contain any data.

Is there any news on this issue ? Has any solution already been implemented or are there known workarounds ? Or is it better to just NOT use this plugin ?

[2018-04-16 08:56] maartenl945 commented on #24
Thanks for that suggestion. We use Rancher for managing containers and volumes so it creates volumes for us depending on which containers we install. So the mounted volumes may indeed change over time. Your suggestion for parsing the JSON on startup might work in that scenario.

We also notice though that in that lvmCountConfig.json file more volumes are listed then still in use. When containers a

[2018-04-16 14:02] shishir-a412ed commented on #24
@echa @maartenl945 I will try to take a look at this sometime this week.

`When containers are deleted, the volumes are not correctly cleaned up apparently. But that is probably another issue.` AFAIK, when a container is deleted, the volume associated with that container is not automatically deleted, unless you do a `docker rm -v`.

[code]

[2018-04-16 14:06] shishir-a412ed commented on #41
@BioSLuDge @maxhar @2Fast2BCn I have also updated the `docker-lvm-plugin` to work with latest version of `go-plugin-helpers` (Although it should work with the old version too).
Please see this: https://github.com/projectatomic/docker-lvm-plugin/pull/47

[2018-04-16 14:07] shishir-a412ed commented on #36
@che @batmany13
I have also updated the `docker-lvm-plugin` to work with latest version of `go-plugin-helpers` (Although it should work with the old version too).
Please see this: #47

[2018-04-16 14:09] tanvir-ahmed-m4 commented on #46
Hi @shishir-a412ed

1. I have created the volume using ```docker stack deploy -c mydb.yml```. So, I don't know the exact command used to create the volume.  from mydb.yml:
[code]

2. I built it from the master branch from your github repo. I have created a volume for testing the setup. Here are the details:
[code]
3. Contents of ```/etc/os-release```
[code]

[2018-04-17 00:25] shishir-a412ed commented on #24
@maartenl945
`However the volume administration in the json files in that directory is not correctly updated. It still lists some of the cleaned up volumes in there. Even with a usage count (if that is what is it) of 1.`

This sounds like a different bug. Ideally this should not happen, and the counts should be updated correctly in the config file, when the container (and it's associated volumes)

[2018-04-17 06:36] maartenl945 commented on #24
Yes I agree, it sounds like a different issue.

[2018-04-18 10:28] maartenl945 commented on #24
As a temporary workaround we are now mounting the lvm volumes ourselves during startup of the server. For that to work properly, we have to wait until the LVM volumes exist and then do the mount of the directories in /var/lib/docker-lvm-plugin.

The method to reset the counts in lvmCountConfig.json did not seem to work reliably when the container stack was brought down before system restart.

Unsu

[2018-04-20 11:20] SantoshRaoBlr opened #48 "docker-lvm-plugin doesnt start/gives some errors like below"
Trying to load docker-lvm-plugin on RHEL, have done a go install using following steps
mkdir -p $HOME/go/src/github.com
cd $HOME/go/src/github.com
export GOPATH=$HOME/go
clone https://github.com/shishir-a412ed/docker-lvm-plugin.git
make
make install

Receive the following error while trying to create a lvm
docker volume create -d lvm --name foobar --opt size=0.2G
Error response from daemon: create

[2018-04-20 12:29] SantoshRaoBlr commented on #48
Apr 20 07:20:32 apilibgdpr.sdad.sl.dst.ibm.com systemd[1]: Started Docker Volume Driver for lvm volumes.
Apr 20 07:20:32 apilibgdpr.sdad.sl.dst.ibm.com systemd[1]: Starting Docker Volume Driver for lvm volumes...
Apr 20 07:20:32 apilibgdpr.sdad.sl.dst.ibm.com systemd[26899]: Failed at step EXEC spawning /usr/libexec/docker/docker-lvm-plugin: Not a directory
Apr 20 07:20:32 apilibgdpr.sdad.sl.dst.i

[2018-04-20 12:30] SantoshRaoBlr commented on #48
I see the above log lines using journalctl

[2018-04-20 12:39] SantoshRaoBlr commented on #48
systemctl status docker-lvm-plugin
 docker-lvm-plugin.service - Docker Volume Driver for lvm volumes
   Loaded: loaded (/usr/lib/systemd/system/docker-lvm-plugin.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Fri 2018-04-20 07:20:32 CDT; 18min ago
     Docs: man:docker-lvm-plugin(8)
  Process: 26899 ExecStart=/usr/libexec/docker/docker-lvm-plugin (code=exite

[2018-04-23 09:33] SantoshRaoBlr commented on #48
Issue got solved. The make/install was executing this step "install -m 755 docker-lvm-plugin /usr/libexec/docker" . However didnt have a docker directory in "/usr/libexec/" path, so the file got copied under the name docker. Moved the file into a folder docker instead and issue is resolved.

[2018-04-23 09:33] #48 closed

[2018-04-24 01:12] shishir-a412ed commented on #48
@SantoshRaoBlr
I tried this on the upstream/master branch, however I am not able to reproduce this issue.
I deleted my existing `docker` directory under `/usr/libexec` and when I did a `sudo make install` it creates the `docker` directory under `/usr/libexec` and deploys the docker-lvm-plugin binary successfully.

[code]

I am able to start the docker-lvm-plugin and run the docker volume commands.

[2018-04-24 01:32] shishir-a412ed commented on #48
@SantoshRaoBlr
I see what's going on 😀  In your first comment.
https://github.com/projectatomic/docker-lvm-plugin/issues/48#issue-316228889

You are doing a `git clone` of `https://github.com/shishir-a412ed/docker-lvm-plugin`
Please see under `README.md` of that project:

This project has been moved under projectatomic/docker-lvm-plugin (https://github.com/projectatomic/docker-lvm-plugin)

You nee

[2018-04-24 10:13] SantoshRaoBlr commented on #48
Thank you very much for the quick response, and helping me sort it out. Will take care of the same.

[2018-04-26 09:53] maartenl945 commented on #24
Hi @shishir-a412ed, do you have any idea when you might have time to take a look at this ? It seems like you cannot really use this plugin if volumes are not correctly mounted after a reboot.
Regards,
Maarten

[2018-04-27 13:19] rocki9satya opened #49 "make not running go dependencies"
When I run the make command, i get lot of errors, mainly to do with dependencies

a.	yum install golang git golang-github-cpuguy83-go-md2man
b.	mkdir -p $HOME/go/src/github.com
c.	cd $HOME/go/src/github.com
d.	export GOPATH=$HOME/go
e.	git clone https://github.com/projectatomic/docker-lvm-plugin.git
f.      make

First error it doesnt find github.com/Sirupsen/logrus

[root@apilibgdpr docker-lvm-pl

[2018-04-27 16:37] shishir-a412ed commented on #40
@rhatdan I think we can close this one. wdyt ?

[2018-04-27 16:38] shishir-a412ed commented on #39
@rhatdan I think we can close this one (No response from the user) wdyt ?.

[2018-04-27 16:53] rhatdan commented on #36
Fine with me.

[2018-04-27 16:53] #36 closed

[2018-04-27 16:55] #41 closed

[2018-04-30 07:02] rocki9satya commented on #49
Thank you, it is working perfectly.

I have one more question please. While creating a Docker LVM Volume with encryption is it possible to take the key from Docker Secrets.

E.g docker volume create --driver lvm --name example2 --opt size=100M --opt thinpool=volumes --opt crypt=luks --opt keyfile=/run/secrets/luks-volume-example.bin

I am unable to do so at present

[2018-04-30 08:25] maartenl945 commented on #24
@shishir-a412ed No need to apologize, just wanted to see when you might have a look at this.
Regards,
Maarten

[2018-05-09 12:02] echa commented on #24
Here's a quick workaround to reset all counters on module restart. It reads the currently configured list of volumes from `/var/lib/docker-lvm-plugin/lvmVolumesConfig.json` and overwrites `/var/lib/docker-lvm-plugin/lvmCountConfig.json` with all volume counters set to zero.

You need to have [jq](https://stedolan.github.io/jq/) installed and add a new systemd file under `/etc/systemd/system/docker

[2018-05-12 20:31] shishir-a412ed commented on #49
@rocki9satya I am not sure if they both are related. Better to create a separate LUKS secret file for `docker-lvm-plugin` encrypted volumes.

[2018-05-12 20:31] #49 closed

[2018-05-14 07:27] maartenl945 commented on #24
Thanks for the (work around) solution @echa !

[2018-06-24 20:18] shishir-a412ed commented on #24
@maartenl945 I checked this issue, and you are right, `lvmCountConfig.json` still show volume count as 1 after the reboot. The correct value should be 0.

The issue is: Let's take an example scenario:

1) You have a volume named `foobar`
2) You have 3 running containers, c1, c2 and c3. Each of them has `foobar` mounted at `/run`.
3) You reboot the system. The containers are going to exit, and will

[2018-06-24 21:08] maartenl945 commented on #24
@shishir-a412ed
Thanks for taking a look. Can the plug-in service not just set the counts to 0 on service startup ?
Effectively implementing the workaround in the plug-in.

[2018-06-24 21:37] shishir-a412ed commented on #24
@maartenl945
`Can the plug-in service not just set the counts to 0 on service startup ?` It can, but that won't fix the issue.

The counts are indicative of, how many containers {c1, c2 and c3} this volume {foobar} is mounted to.
e.g. in the above scenario. `foobar` will have a count `3`. If the docker daemon is still running those containers, and we just restart the plugin and reset the count to

[2018-06-24 22:37] shishir-a412ed commented on #24
@maartenl945 There was a small issue in the PR. I have fixed it now, and it's working for me.
After the reboot, the counts are reset to 0.

https://github.com/projectatomic/docker-lvm-plugin/pull/53
Can you try it once, and let me know if it works for you too ?

[2018-06-25 17:31] #24 closed

[2018-06-25 17:50] maartenl945 commented on #24
@shishir-a412ed
Unfortunately I don’t have a ‘go’ development environment, nor easy access to our target at the moment since I’m not at work for the next couple of weeks.
I’ll see what I can do but don’t wait for me since I’m sure other people will be helped by this solution too!
Thks,
Maarten

[2018-06-25 17:52] shishir-a412ed commented on #24
@maartenl945 No worries. We have merged the PR to master.

Shishir

[2018-06-26 18:50] shishir-a412ed commented on #37
@neurotensin I think we can check the executable at plugin startup, something like:

[code]

@rhatdan WDYT ?

[2018-06-26 19:00] rhatdan commented on #37
SGTM

[2018-06-27 14:09] #37 closed

[2018-06-27 14:24] shishir-a412ed commented on #3
@rhatdan I think this issue is fixed by https://github.com/moby/moby/pull/23024.
Can we close this ?

[2018-06-27 15:44] #3 closed

[2018-07-23 17:52] debunn opened #55 "Docker time parse issue with plugin"
Hi!

We have been using an older release of the docker-lvm-plugin (about three months old), and wanted to update to the latest release.  I was able to compile the most recent version on CentOS 7.5 successfully, however it appears that there is some date parsing that breaks this version - when I attempt to start up the main docker service, I'm seeing the following error (which wasn't happening prev

[2018-07-24 00:40] shishir-a412ed commented on #55
@debunn Can you provide the output of `docker info` and `cat /etc/os-release` ?

[2018-07-24 00:53] debunn commented on #55
docker info:
[code]

cat /etc/os-release:
[code]

[2018-08-06 22:03] cblomart commented on #55
It would appear it is due to the way golang handles null value on time tagged value with encoding/json.

[2018-08-08 09:30] pmioulet commented on #55
Same issue here

[2018-08-08 13:38] cblomart commented on #55
I made  a pull request to go-plugins-helpers:
https://github.com/docker/go-plugins-helpers/pull/107

Basicaly it sets json flags on the struct so empty CreatedAt values are ignored when serialized.
For my project i am currently using the forked project on my account "cblomart/go-plugins-helpers" and it works like a charm.

If the pull is accepted i will remove my forked repository.

[2018-08-08 17:12] shishir-a412ed commented on #55
Thanks @cblomart for the fix.

[2018-08-13 05:35] leshik opened #56 "Question: encrypted volumes and passphrase"
Hello,

I'm looking for some workflow that I could use to mount the encrypted volumes once containers are started (or the host is restarted). I don't want to store the key file anywhere on the host even temporarily as it would compromise the security. Ideally, I would enter the passphrase on containers (re)start.

Any suggestions on how this behavior could be achieved?

[2018-08-16 08:32] leshik commented on #56
I've just realized that I can use named pipe as a key file. This will work for now.

[2018-08-16 08:32] #56 closed

[2018-10-07 03:15] mortya opened #57 "docker-lvm-plugin doesn't work right with userns-remap"
I have docker configured with `userns-remap`.  With default permissions, docker-lvm-plugin doesn't work right.  It can create volumes, but they can't actually be mounted.

[code]

This appears to be a simple permission issue.  Workaround:
`chmod 755 /var/lib/docker-lvm-plugin/`

Probably best to fix it in the code, though.

[2018-10-07 04:02] mortya commented on #7
I think the original poster's case is like so:

1. docker-lvm-plugin is initially configured to use one system VG.  Say, "vg1".
2. user creates a few volumes.  Say, foo and bar.  foo and bar are using vg1.
3. the admin comes along, creates vg2, configures docker-lvm-plugin to use vg1, and restarts it.
4. foo and bar still exist.  But some docker commands that reference them will fail, because dock

[2018-10-09 16:07] mortya opened #58 "CreatedAt not being set correctly"
I have docker local volumes and lvm volumes.  The local volumes set CreatedAt correctly.  The lvm volumes don't.

This problem is referenced in #55 .  But the focus there seems to be shutting up the warning about this rather than getting a valid value.  If I'm misunderstanding and this is a duplicate, my apologies.

The reason I care is that I'm trying to set up pruning for lvm volumes.  The defau

[2018-10-31 13:49] aston-r opened #59 "volume is not mounted after the server failure"
Hi,

$subj. I hoped the issue was fixed in https://github.com/projectatomic/docker-lvm-plugin/issues/24, but it is not

STR:
-create volume;
[code]
-run a container and use the mentioned volume;
-simulate the system crash(kernel panic, power failure)
-start the server. Here is the lvmCountConfig.json:
[code]
-start docker container;

Actual Result:
-volume is not mounted.

To manually fix the issu

[2018-11-06 12:14] angermueller opened #60 "Remove volume if format fails"
# Description
If you choose a volume size below 16M formatting with xfs will fail. Unfortunately the created logical volume is not removed. `docker volume ls` shows no volumes but creating it again will fail, even with a valid size, because the LV still exists.

# Steps to reproduce
Try to create a volume below 16M (expecting an error):
`docker volume create --driver lvm --name example1 --opt size

[2018-11-17 16:19] Ashald commented on #58
@shishir-a412ed how would you prefer it implemented? Extract information from lvm dynamically or store it in json along with other metadata? I'd submit a PR as we need this implemented.

[2018-11-18 02:13] Ashald commented on #58
@shishir-a412ed given the codebase I assumed that extracting creation date from `lvdisplay` is preferred approach (as it's backward compatible to to no modifications to persisted metadata file) and submitted a pull request.

Please let me know what do you think of it. I tested it locally and it works like a charm:
[code]
[code]
[code]

[2018-11-20 02:29] shishir-a412ed commented on #46
Closing due to inactivity.

[2018-12-05 22:02] mortya opened #64 "lvremove without lvchange"
I notice that the code does an `lvremove --force $device` instead of `lvchange -a n $device` followed by `lvremove $device`.  I think the latter is usually preferred.  This might be deliberate on your part, though, if you want to do the remove as a single atomic action.  Heads up, just in case.

[2018-12-20 21:40] shishir-a412ed commented on #60
@angermueller

I tried this on Ubuntu 16.04. I am able to create a volume of size 13M.
However when I try to create a volume of size 12M I run into your described issue.

To cover all supported distributions (Ubuntu, Fedora, CentOS), I think 16M of threshold seems fine.
We can throw an error somewhere here:
https://github.com/projectatomic/docker-lvm-plugin/blob/master/driver.go#L85

Saying "Error

[2018-12-20 21:42] shishir-a412ed commented on #64
@mortya PR's are welcome :)

[2018-12-22 12:19] angermueller commented on #60
The solution fits perfect for me, thanks for the reply!
I made some experiments with Ubuntu 16.04. Formatting a xfs volume under 16M does not work for me there either.
Error message for a volume with exact size of 15M:
`$> dd if=/dev/zero of=mytest bs=1048576 count=15`
`$> mkfs.xfs mytest`
`agsize (3840 blocks) too small, need at least 4096 blocks`

On the other hand I would suggest to implement a

[2019-01-16 00:23] jasle opened #66 "Plugin in docker hub?"
Would it be possible to make to plugin available on the docker hub?

[2019-01-21 17:01] aston-r commented on #46
@shishir-a412ed

I had the same issue.

STR:
- create the volume (docker volume create -d lvm --opt size=5G --name jenkins_home)
- run container (docker run -d -v jenkins_home:/var/jenkins_home -p 8080:8080 -p 50000:50000 jenkins/jenkins:lts)
- sudo lvextend -L+265G /dev/vgsystem/jenkins_home
- sudo xfs_growfs /var/lib/docker-lvm-plugin/jenkins_home

Actual Result:
[code]

[2019-01-21 19:04] shishir-a412ed commented on #58
Fixed via #67 and #68
Closing this now.

[2019-01-21 19:04] #58 closed

[2019-03-07 02:44] jasle commented on #66
As far as I can see, there is a config.json needed, to bring a plugin to the docker hub.
https://docs.docker.com/engine/extend/config/
There is an (older) Version of the lvm-plugin in docker hub, which have an config.json in the repository:
https://github.com/nickbreen/docker-lvm-plugin

Maybe someone who is more familiar with docker, could have a look at what's to do here, to bring the lvm plugin

[2019-04-27 03:51] utdrmac opened #72 "screencast archived"
The asciicenima screencast has been archived and is no longer visible.

[2019-04-27 03:53] shishir-a412ed commented on #72
@utdrmac Sorry I have been busy lately. I will take a look and fix it.

[2019-04-28 10:28] pkhairkh opened #73 "Error thrown at go build / make"
Hello there,

first of all many thanks for the work. I have trouble installing the package.
So far I couldn't find a relateable case on google, so here you go:

`$#cat /etc/*-release
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https:/

[2019-04-28 14:32] pkhairkh commented on #73
Works now: head to https://github.com/docker/go-connections/pull/61

[2019-05-01 13:45] #73 closed

[2019-05-26 04:05] nickbreen opened #74 "build broken by upstream go-connections dependency"
Build fails due to this up-stream error: https://github.com/docker/go-connections/issues/60 and is fixed in `61039d0834e53e8ae181e064229a9e79d7cd77aa` or later.

[code]

Tried with both go 1.10 on ubuntu disco, and golang/1.8 and golang/1.12.5 docker containers.

[2019-05-26 04:08] nickbreen opened #75 "make file assumes go-md2man is present and in path"
Problem encountered in golang/1.8 and golang/1.12.5 docker containers, and also on ubuntu disco.

On ubuntu `apt install go-md2man` provided the tool.

The `Makefile` should include an env/var for go-md2man as it does with `GOLANG`.

[2019-05-26 05:04] shishir-a412ed commented on #66
@jasle @LordMike `https://github.com/nickbreen/docker-lvm-plugin` looks like a fork of `containers/docker-lvm-plugin`, which might have support for docker-lvm-plugin as a container. We don't support that repo.
If you need that feature you are welcome to use that plugin.

We have not added the plugin as a docker image. This requires some work, and I am pretty occupied right now. So I am not sure I

[2019-05-26 07:16] shishir-a412ed commented on #74
@nickbreen
Just tried this with `go version go1.12.5 linux/amd64` (with go modules).
Works for me.

[code]

Once #77 is merged to master. This should work.

[2019-05-26 07:29] shishir-a412ed commented on #75
Even if I add the env/var for `go-md2man` in the Makefile, something like:

[code]

you would still have to install `go-md2man`.
If `go-md2man` is missing on the system, it will throw an error.

Once you install the tool, it's by default in the $PATH (/usr/bin), so no variable needed in the Makefile.

[2019-05-26 07:29] #75 closed

[2019-05-26 12:44] #74 closed

[2019-05-28 11:47] #72 closed

[2019-06-25 14:09] angermueller commented on #46
I would also like to know if there is a preferred way to resize existing volumes.

PS: Restarting the docker service does not help

[2019-08-23 05:18] aol-nnov commented on #46
any recommendations yet?

[2019-08-23 05:26] aol-nnov commented on #46
https://github.com/moby/moby/pull/30109

sad to read that... so, what't the proposed method though? I'm stuck now... Just resized my volume and now I'm unable to start my stack due to `ERROR: Configuration for volume data specifies "size" driver_opt 50G, but a volume with the same name uses a different "size" driver_opt (5G). If you wish to use the new configuration, please remove the existing vol

[2019-08-24 19:45] shishir-a412ed commented on #42
@erikbgithub Are you still facing this issue?

1) Can you show me the systemd unit file for `docker-lvm-plugin` ?
$$ systemctl cat docker-lvm-plugin.

2) Output of:
$$ ls /run/docker/plugins -lt

[2019-08-24 20:54] shishir-a412ed commented on #57
@mortya I tried to reproduce this by running docker daemon under a remapped root (--userns-remap=smahajan)

[code]

The problem is `docker-lvm-plugin` is running as `root` and it's graph directory (`/var/lib/docker-lvm-plugin`) is owned by `root:root`. When you launch the container, it will run as remapped root (120000) {non-root} and does not have the permission to mount a root path into the cont

[2019-08-24 20:54] #57 closed

[2019-08-30 13:38] #60 closed

[2019-09-06 04:50] jojaii opened #81 "Plugin "lvm" not found"
Hi all, I just installed the plugin and I am testing lvm creation using:

`docker volume create -d lvm --opt size=0.2G --name foobar`

But I am receiving the following error:

`Error response from daemon: create foobar: error looking up volume plugin lvm: plugin "lvm" not found`

I have correctly configured the _/etc/docker/docker-lvm-plugin_ and made only one minor configuration to the _Makefile_

[2019-09-06 05:56] jojaii commented on #81
Downgraded my go version to **1.12.9** but still having the same issue. Does anybody have any idea what I might be doing wrong? Is there perhaps a specific Go version that I should downgrade to?

[2019-09-20 17:40] shishir-a412ed commented on #81
@jojaii Looks like docker daemon is not able to find the plugin. Is the plugin running?

Can you paste the output of:

1) cat /etc/os-release
2) systemctl status docker-lvm-plugin

[2019-09-25 04:25] jojaii commented on #81
Thank you for the reply @shishir-a412ed

Here's the output for cat /etc/os-release:
`NAME="Ubuntu"
VERSION="16.04.5 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.5 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"
VERSION_CODENAME=xenial
UBUNTU_CODENAME=xenial
`

And here's the

[2019-09-25 04:28] shishir-a412ed commented on #81
@jojaii `msg="mkfs.xfs is not available, please install xfsprogs to continue"`
May be install `xfsprogs` :) ?

[2019-09-25 04:49] jojaii commented on #81
I couldn't for the life of me figure out how to debug this at first! Turns out `systemctl status` was all I needed. Thank you for your help @shishir-a412ed .

[2019-09-25 04:51] #81 closed

[2019-11-20 00:17] shishir-a412ed commented on #42
@erikbgithub closing it due to inactivity. Please feel free to reopen if you are still facing the issue.

[2019-11-20 00:17] #42 closed

[2019-11-22 21:07] #7 closed

[2019-11-22 22:42] shishir-a412ed commented on #64
Keeping it as an atomic operation `lvremove --force $device` for now.

[2019-11-22 22:42] #64 closed

[2020-01-09 11:04] L4rS6 commented on #46
Is there still no solution available for this problem?

I also resized my XFS volume manually and now I want to adjust the metadata size of the volume.

[2020-02-11 18:33] shishir-a412ed commented on #46
`Is there still no solution available for this problem?`

@L4rS6 This is not on my immediate priority list, but I will try to investigate when I get a chance.
PR's are welcome 🙂 if you wanna propose a PR with the fix.

[2020-08-01 12:46] Rim13 opened #87 "README.md have small typo"
At pt. 3 create **vg0**
At pt. 5 used **vg1**

[2020-08-01 20:26] shishir-a412ed commented on #87
@Rim13 Nice catch! PRs are welcome 😊

Point (5) example needs to be changed to **vg0**

[2020-08-06 09:49] LeMyst opened #88 "Can't remove docker volume if lvm volume is missing"
Hello,

Du to some circumstances (manual deletion), my lvm volume is now missing and I can't remove it with "docker volume rm -f".

I can do a "sudo lvcreate  -n mylvvolumedeleted -L 1 myvg" to recreate a temporary lvm volume, but a more comprehensive message than "Error response from daemon: remove mylvvolumedeleted: VolumeDriver.Remove: error removing volume" would be better, and maybe the force

[2020-09-25 18:23] #87 closed

[2020-10-01 20:29] shishir-a412ed commented on #88
We already have `--force` in [`lvremove`]( https://github.com/containers/docker-lvm-plugin/blob/master/utils.go#L23)

I tried to reproduce this:

1. Create an lvm volume foobar: `docker volume create -d lvm --opt size=1G foobar`
2. docker volume ls

[code]

3. Remove the underlying volume using `lvremove`: `lvremove -y vg1/foobar`

4. docker volume rm foobar

[code]

The error is not coming from `

[2020-10-03 12:21] #88 closed

[2020-10-06 15:13] olljanat commented on #66
@shishir-a412ed yep it is fork and those files looked to be working so I collected them to #96

[2020-12-14 19:22] virtualdxs opened #97 "Thin by default"
Would it be possible to make it so that volumes are created as part of a thin pool by default? I was hoping for a thinpool option in /etc/docker/docker-lvm-plugin, but I see no such option.

[2020-12-14 19:51] shishir-a412ed commented on #97
@virtualdxs How will the user create regular volumes in that case?

[2020-12-14 21:53] virtualdxs commented on #97
Explicitly specifying the VG would be my suggestion, i.e.:

    docker volume create -d lvm -o size=10G --name test_thin # Create a thin volume (assuming configuration specifies a thin pool)
    docker volume create -d lvm -o size=10G -o vg=vg0 --name test_thick # Create a thick volume (regardless of configuration)

[2020-12-14 23:03] virtualdxs commented on #97
Just to clarify: I'm not asking for the out-of-the-box behavior to be "use a thin pool", I'm asking that I be able to configure my instance such that unless I specify otherwise, docker volumes are created as thin LVs.

[2021-01-04 19:32] shishir-a412ed commented on #97
@virtualdxs Yes, this should be okay. Feel free to open a PR.

[2021-01-22 10:14] rhatdan opened #98 "Could you try this plugin out with Podman"
Podman now has volume support, interested whether this works with podman 3.0 or not.

[2021-01-22 10:14] rhatdan commented on #98
I don't have access to systems with extra LVM space to try this out.

[2021-01-22 21:04] shishir-a412ed commented on #98
Hi @rhatdan!

I have added a `Vagrantfile` for you in #99. Once we merge this PR.

You can run:

1. `vagrant up` from the `$root` of the project (This process should take around ~2 minutes)

This will start a `fedora32` VM with everything (docker, docker-lvm-plugin, a pseudo loopback device, pv, volume group, thinpool) installed/running.

2. You can just `ssh` into the VM using `vagrant ssh docker

[2021-03-17 13:02] darthShadow opened #100 "LVM Raid Support"
Hi,

Would you be open to a PR adding support for raid options while creating the logical volumes?

Reference: https://man7.org/linux/man-pages/man7/lvmraid.7.html

We will need to add support for 3 additional options:

[code]

Thanks for the consideration.

[2021-03-18 16:24] shishir-a412ed commented on #98
@rhatdan Just tried this on the vagrant VM.

[code]

Looks like this is not supported today. Will try to debug, what's needed in the codebase.

[2021-03-22 18:43] rhatdan commented on #98
rpm -q podman?

[2021-03-22 18:43] rhatdan commented on #98
@mheon FYI

[2021-03-22 19:11] mheon commented on #98
I believe this one will be fixed in 3.1.0

[2021-04-08 02:55] shishir-a412ed commented on #100
@darthShadow Yeah this would be very interesting :)
Feel free to open a PR, if you wanna take a stab at it.

There is only `--opt` for setting driver specific options, I am thinking we can add something like

[code]

Also, do we need to support `--mirrors` for `raid1` and `raid10`?

[2021-04-08 04:20] darthShadow commented on #100
I don't have an immediate need for `raid1` and `raid10`, so hadn't considered the mirrors option but it looks simple enough to add to the same set of changes.

[2021-05-13 15:16] rhatdan opened #101 "Please rename the master branch to the main branch."

[2021-05-14 03:57] shishir-a412ed commented on #101
@rhatdan Fixed.
<img width="1191" alt="Screen Shot 2021-05-13 at 8 56 43 PM" src="https://user-images.githubusercontent.com/4207652/118219148-bc437e80-b42d-11eb-8009-42dbbe9cfdbd.png">

[2021-05-14 03:57] #101 closed

[2021-05-14 08:59] rhatdan commented on #101
Thanks.